/.idea
/.idea/inspectionProfiles
/.idea/libraries
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/file.template.settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/artifacts
/.idea/dictionaries
.idea
shiroDemo.iml
target
