<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fei.item.mapper.LoginInfoMapper">
    <resultMap id="BaseResultMap" type="cn.fei.item.domain.entity.LoginInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="state" property="state"/>
        <result column="user_id" property="userId"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM login_info
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.fei.item.domain.entity.LoginInfo" useGeneratedKeys="true">
        INSERT INTO login_info (username, password, user_id, state)
        VALUES (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{userId},  #{state})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.fei.item.domain.entity.LoginInfo">
        UPDATE login_info
        SET username = #{username,jdbcType=VARCHAR},
            password = #{password,jdbcType=VARCHAR},
            user_id  = #{userId},
            state    = #{state}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
            id,
            username,
            password,
            user_id,
            state
        FROM login_info
        WHERE id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            id,
            username,
            password,
            user_id,
            state
        FROM login_info
    </select>
    <select id="getByUsername" resultMap="BaseResultMap">
        SELECT
            id,
            username,
            password,
            user_id,
            state
        FROM login_info
        WHERE username = #{username}
    </select>
</mapper>