<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fei.item.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="cn.fei.item.domain.entity.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="is_admin" property="isAdmin"/>
        <collection property="roleList" ofType="cn.fei.item.domain.entity.Role"
                    column="id" select="cn.fei.item.mapper.RoleMapper.selectByUserId"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM user
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.fei.item.domain.entity.User" useGeneratedKeys="true">
        INSERT INTO user (username, password, real_name,
                          telephone, is_admin)
        VALUES (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR},
                #{telephone,jdbcType=VARCHAR}, #{isAdmin})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.fei.item.domain.entity.User">
        UPDATE user
        SET username  = #{username,jdbcType=VARCHAR},
            password  = #{password,jdbcType=VARCHAR},
            real_name = #{realName,jdbcType=VARCHAR},
            telephone = #{telephone,jdbcType=VARCHAR},
            is_admin  = #{isAdmin}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT
            id,
            username,
            password,
            real_name,
            telephone,
            is_admin
        FROM user
        WHERE id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            id,
            username,
            password,
            real_name,
            telephone,
            is_admin
        FROM user
    </select>
</mapper>